
 *{
    box-sizing: border-box;
     } 
      body {
        font-size: 16px;
        line-height: 1.5;
        font-family: Verdana, sans-serif;
        margin: 0; 
      }
    
      h1, h2, h3 {
        margin: 0;
        padding: 0;
      }
    
      header, nav ul, #content-wrapper {
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;
      }
    
      a {
        color: #008000;
      }
    
      #logo {
        position: absolute;
        top: 0;
        left: 0;
      }
    
      header {
        position: relative;
      }
      
      #logo {
        position: absolute;
        top: 0;
        left: 0;
      }
    

      header h1, nav ul {
        padding-left: 50px;
      }
    
      nav {
        background-color: #008000;
      }
    
      nav ul {
        list-style-type: none;
        padding: 0; 
      }

      nav ul li {
        display: inline-block;
      }
    
      nav ul li a {
        display: inline-block;      
        padding: 1rem;              
        text-decoration: none;      
        color: white;               
        font-weight: bold;          
      }

      nav ul li a:hover {
        background-color: black;   
        color: #9ae39a;           
      }


      main article img {
        border: double 3px #333;      
        float: left;                  
        margin-top: 0.5rem;           
        margin-right: 1rem;          
        margin-bottom: 0.5rem;        
      }



      
